@inject NavigationManager NavManger

<div class="filters">
    <label for="maxLength">Max Length</label>
    <input type="number" id="maxLength" class="form-control" @bind="_maxLength"/>
   
    <label for="maxTime">
        Max Time (hours)
    </label>
    <input id="maxTime" type="number" class="form-control" @bind="_maxTime"/>
    <button class="btn btn-outline-primary" @onclick="FilterSearchResults">
        Filter
    </button>
    <button class="btn btn-outline-secondary" @onclick="ClearSearchFilter">
        Clear
    </button>
</div>

@code {
    private int _maxLength;
    private int _maxTime;

    [Parameter]
    public int? MaxLength { get; set; }
    [Parameter]
    public int? MaxTime { get; set; }

    [Parameter,EditorRequired]
    public string? SearchTerm { get; set; } = default!;

    protected override void OnInitialized()
    {
        _maxLength = MaxLength ?? 0;
        _maxTime = MaxTime ?? 0;
    }

    private void FilterSearchResults()
    {
        var uriWithQueryString = NavManger.GetUriWithQueryParameters(
            new Dictionary<string, object?>()
            {
                [nameof(SearchPage.MaxLength)] = _maxLength == 0 ? null: _maxLength,
                [nameof(SearchPage.MaxTime)] = _maxTime == 0 ? null : _maxTime
            });
        //NavManger.NavigateTo($"/search/{SearchTerm}/maxlength/{_maxLength}");
        NavManger.NavigateTo(uriWithQueryString);
    }

    private void ClearSearchFilter()
    {
        _maxLength = 0;
        _maxTime = 0;
        NavManger.NavigateTo($"/search/{SearchTerm}");
    }

}
