@page "/"
@inject HttpClient Http
<PageTitle>All amazing trails</PageTitle>


@if (_trails == null)
{
    <p>... Loading trails</p>
}
else
{
    <div class="grid">

        @foreach (var trail in _trails)
        {
            <TrailCard Trail="trail"></TrailCard>
        }

    </div>
}





@code {
    private IEnumerable<Trail>? _trails = default!;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _trails = await Http.GetFromJsonAsync<IEnumerable<Trail>>("trails/trail-data.json");

        }
        catch (Exception ex)
        {
            Console.WriteLine($"there was aproblem loading trails data: {ex.Message}");
        }
       
        return;

    }
    
}
