@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime

@implements IAsyncDisposable
@implements IDisposable

<div class="map-wrapper">
    <div class="controls">
        <button @onclick="DeleteLastWayPoint" class="btn btn-secondary" title="Delete last way point" type="button">
            <i class="bi bi-trash"></i>
            Remove Last Waypoint
        </button>
    </div>
    <div style="height:@(Height); width: @(Width);" @ref="_map"></div>
</div>

@code {
    [Parameter] public string Width { get; set; } = "500px";
    [Parameter] public string Height { get; set; } = "1000px";

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _routeMapModule = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./_content/BlazingTrails.ComponentLibrary/Map/RouteMap.razor.js");
            _routeMapReference = DotNetObjectReference.Create(this);
            await _routeMapModule.InvokeVoidAsync("initialize", _map, _routeMapReference);
        }
    }

    private async Task DeleteLastWayPoint()
    {
        if (_routeMapModule is not null)
        {
            var message = _routeMapModule.InvokeAsync<string>("deleteLastWayPoint", _map);
            Console.WriteLine(message);
        }
    }

    private ElementReference _map;
    private IJSObjectReference? _routeMapModule;
    private DotNetObjectReference<RouteMap> _routeMapReference;

    [JSInvokable]
    public void WaypointAdded(decimal latitude, decimal longitude) =>
        Console.WriteLine($"Added waypoint - Latitude {latitude}, Longitude {longitude}");

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (_routeMapModule is not null)
        {
            await _routeMapModule.DisposeAsync();
        }   

    }

    void IDisposable.Dispose()
    {
        if (_routeMapReference is not null)
        {
            _routeMapReference.Dispose();
        }
    }

}
