@inherits InputBase<int>

<div class="input-time">
    <div>
        <input type="number" class="form-control" min="0" max="23" @onchange="SetHoursValue" value="@_hours"/>
        <label>Hours</label>
    </div>
    <div>
        <input type="number" class="form-control" min="0" max="59" />
        <label>Minutes</label>
    </div>
</div>

@code {
    private int _hours;
    private int _minutes;

    private void SetHoursValue(ChangeEventArgs args)
    {
        int.TryParse(args.Value?.ToString(), out _hours);
        SetCurrentValue();
    }

    private void SetMinutesValue(ChangeEventArgs args)
    {
        int.TryParse(args.Value?.ToString(), out _minutes);
        SetCurrentValue();
    }

    private void SetCurrentValue() => CurrentValue = (_hours * 60) + _minutes;

    protected override TryParseValueFromString(string? value, out int result, out string? validationErrorMessage)
    {
        
        throw new NotImplementedException();
    }
}
